html {
    min-height: 100%;
  }


.hide{
    display: none;
}

.contant{
    padding-left: 3rem;
    padding-top: 1rem;
}


#home-profile-pic{
    margin: 4rem;
    max-width: 20rem;
}





#content-style{
    border: 1px black;
    height: 100%; 

}

#profile-pic{
    margin: 33% auto;
}


#navbar-nav{
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
  
    
  }

.nav-item{
    margin: 0 2rem;
    
}






.contant-one{
    margin-top: 1rem;
}





@media (max-width: 900px) {
 
  

    #project-one{
        margin-top: 3rem;
        height: 100%;
    }
    
    #project-two{
        margin-top: 0rem;
        height: 100%;
    }



    .extra-cantant{
        display: none;
    }
    #home-profile-pic{
        width: 60%;
        margin: 4rem auto;
    }

    #about-me-holder{
        margin-top: 3rem;
        height: 100%;
     
     }





}



#home-cover-color{
    height: 13rem;
    background-color: rgb(170, 170, 170);
    width: 100%;
}


.border{
    border: 1px black;
}

.backgraund-test{
    background-color: rgb(204, 39, 39);

}

.gen-red{
    background-color: rgb(170, 170, 170);

}




#-holder{
    height: 6rem;
    
}


#submit-btn{
    background-color: rgb(170, 170, 170);
}

.bold-text{
    font-weight: 600
}





