html {
  min-height: 100%;
}

body {
  min-height: 100vh;
  
}

.container {
  min-height: 100vh;
  margin-top: 8%;
  background-color: rgb(49, 49, 192);

}


#id-card-holder{
  text-align: center;
  display: flex;
  height: 33rem;
  margin: 6% 0% 0% 2%;
  
}




.hide{
  display: none;
}






#home-profile-pic{
  margin: 4rem;
  max-width: 20rem;
}



#all-content-holder{
  height: 100%;
  background-color: rgb(170, 170, 170);

}
#all-content-holder{
  height: 100%;

}



#contant-style{
  border: 1px black;
  height: 100%; 

}

#profile-pic{
  margin: 33% auto;
}


#navbar-nav{
  margin: 0 auto;
  display: inline;

  
}

.nonliststyle{
  list-style: none;
  padding: 0;
}


#head-line{
  margin-top: 1rem;
  width: 90%;
}



.contant-one{
  margin-top: 1rem;
}



.head-card-holder{
  text-align: center;
  border: 0px solid white;
  margin-top: 20px;
  
}

#containerID{
  margin-top: 7%;
}

#home-container{
  background-color: white;
  border: 1px solid black;
  
 
}


@media (max-width: 600px) {




  #project-one{
      margin-top: 3rem;
      height: 100%;
  }
  
  #project-two{
      margin-top: 0rem;
      height: 100%;
  }



  .extra-cantant{
      display: none;
  }
  #home-profile-pic{
      width: 60%;
      margin: 4rem auto;
  }
      
  #form-holder{
      margin-top: 3rem;
      height: 120%;
  }
  #about-me-holder{
      margin-top: 3rem;
      height: 100%;
   
   }



}



#home-cover-color{
  height: 13rem;
  background-color: rgb(170, 170, 170);
  width: 100%;
}


.full-width{
  width: 100%;

}

.border{
  border: 1px black;
}

.backgraund-test{
  background-color: rgb(204, 39, 39);

}

.gen-red{
  background-color: rgb(170, 170, 170);

}



#home-place-holder{
  height: 12rem;
  
}


#submit-btn{
  background-color: rgb(170, 170, 170);
}

.bold-text{
  font-weight: 600
}








.center-content{
  text-align: center;
}


.center-content{
  text-align: center;
}


#head-line-content{
  text-align: center;
}
