html {
    min-height: 100%;
  }
  
  body {
    min-height: 100vh;
    
  }



.hide{
    display: none;
}



#home-profile-pic{
    margin: 4rem;
    max-width: 20rem;
}



#all-content-holder{
    height: 100%;
    background-color: rgb(170, 170, 170);

}
#all-content-holder{
    height: 100%;

}




#profile-pic{
    margin: 33% auto;
}


#navbar-nav{
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
  
    
  }


#head-line{
    margin-top: 1rem;
    width: 90%;
}



.contant-one{
    margin-top: 1rem;
}






@media (max-width: 720px) {

  

    #project-one{
        margin-top: 3rem;
        height: 100%;
    }
    
    #project-two{
        margin-top: 0rem;
        height: 100%;
    }



    .extra-cantant{
        display: none;
    }
    #home-profile-pic{
        width: 60%;
        margin: 4rem auto;
    }
        
    #form-holder{
        margin-top: 3rem;
        height: 120%;
    }
    #about-me-holder{
        margin-top: 3rem;
        height: 100%;
     
     }



}



#home-cover-color{
    height: 13rem;
    background-color: rgb(170, 170, 170);
    width: 100%;
}




.border{
    border: 1px black;
}

.backgraund-test{
    background-color: rgb(204, 39, 39);

}

.gen-red{
    background-color: rgb(170, 170, 170);

}
#home-contant{
    min-height: 100vh;
}



#home-place-holder{
    height: 12rem;
    
}


#submit-btn{
    background-color: rgb(170, 170, 170);
}

.bold-text{
    font-weight: 600
}










#head-line-content{
    text-align: center;
}
